<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>
    {# vars:
    #   navigation:
    #   - href: https://example.com/href1
    #     caption: The first link
    #   - href: https://example.com/href2
    #     caption: Second link
    #}

    <h1>My Webpage</h1>
    {{ a_variable }}

    {# a comment #}
</body>
</html>
